@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    color: #fff;
    background-color: #000;
}

a,
a:hover,
a:visited {
    color: unset;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-align-items-center {
    align-items: center;
}

.flex-justify-content-center {
    justify-content: center
}

header {
    height: 220px;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
}

.dsmeta--logo-container img {
    width: 100%;
    max-width: 235px;
}

.dsmeta--logo-container h1 {
    margin-top: 15px;
    font-size: 24px;
}

.dsmeta--logo-container p {
    font-size: 14px;
    font-weight: 300;
}